* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 1em;
}

body {
  font-family: 'Droid Sans', 'sans-serif';
  font-size: 14px;
  width: 40em;
  margin: 3em 0 2em 5em;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
  line-height: 1.3em;
}

a {
  color: steelblue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline!important;
}

code {
  font-family: 'Menlo', 'Monaco', monospace;
  font-size: .9em;
}

table {
  font-size: inherit;
}


/* Home */

ul.posts {
  list-style-type: none;
  margin: 0 0 2em 1em;
}

ul.posts span {
  font-family: helvetica, sans-serif;
  font-size: .8em;
  text-transform: uppercase;
}

ul.posts a {
  margin-left: 0.5em;
}

/* Site */

#nav {
  color: steelblue;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 2em;
}

#nav li {
  display: inline;
}

#nav a {
  color: steelblue;
  text-decoration: none;
}

#nav a.extra {
  color: #999;
  text-decoration: none;
  margin-left: 1em;
}

#footer {
  border-top: 4px solid #eee;
  padding: 1em 0;
  margin: 2em 0;
  overflow: hidden;
}

/* Posts */

.post a:visited {
  color: #a0a;
}

.post header {
  margin-bottom: 1em;
}

.post header h1 {
  font-size: 1.5em;
  display: inline;
}

.post header time {
  margin-left: .5em;
  color: #999;
}

.post section h1 {
  margin-top: 1.5em;
  font-size: 1.2em;
}

.post section p {
  font-family: 'Droid Serif', serif;
  text-align: justify;
}

.post section ul,
.post section ol {
  margin-left: 1em;
}

.post section pre {
  padding-left: 2em;
  margin: 1em 0;
  border-left: 4px solid #eee;
}

.post section pre code {
  margin: 1em 0;
  display: inline-block;
}

.post section blockquote {
  padding: .1em 0 .1em 2em;
  border-left: 4px solid #eee;
  font-style: italic;
}

.post section blockquote p {
  font-family: 'Droid Sans', sans-serif;
}

.post footer {
  margin: 2em 0 1em 0;
}

.post footer .metalinks {
  font-size: .85em;
  height: 1em;
}

.post footer .metalinks .prev {
  float: left;
}

.post footer .metalinks .next {
  float: right;
}
