* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font-family: 'Droid Sans', 'sans-serif';
  font-size: 13px;
  width: 40em;
  margin: 3em 0 2em 5em;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
  line-height: 1.3em;
}

a {
  color: steelblue;
}

a:hover {
  text-decoration: underline!important;
}

table {
  font-size: inherit;
  font: 100%;
}


/* Home */

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  font-size: 80%;
}


/* Site */

#main-nav {
  color: steelblue;
  font-weight: bold;
  margin-bottom: 2em;
}

#main-nav li {
  display: inline;
}

#main-nav a {
  color: steelblue;
  text-decoration: none;
}

#main-nav a.extra {
  color: hsl(0, 0%, 67%);
  text-decoration: none;
  margin-left: 1em;
}

#main-nav .meta {
  color: #aaa;
}

#main-footer {
  border-top: 4px solid #eee;
  padding: 1em 0;
  margin: 2em 0;
  overflow: hidden;
}

/* Posts */

.post a:visited {
  color: #a0a;
}

.post header {
  margin-bottom: 1em;
}

.post header h1 {
  font-size: 150%;
  display: inline;
}

.post header time {
  color: #999;
}

.post section h1 {
  margin-top: 1.5em;
  font-size: 1.2em;
}

.post section p {
  font-family: 'Droid Serif', serif;
  text-align: justify;
}


.post ul,
.post ol {
  margin-left: 1.35em;
}

.post pre {
  padding-left: 2em;
  margin-bottom: 1em;
  font-family: Menlo, Monaco, courier, monospace;
}
